{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="login_form mx-auto mt-3 p-3 border border-primary rounded">

        <h1>Créer un compte</h1>

        {{ form_start(registrationForm) }}

            {{ form_label(registrationForm.email) }}
            {{ form_widget(registrationForm.email, {attr: {class: 'form-control'}}) }}
            {{ form_errors(registrationForm.email) }}

{#        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}#}

        <label>Password</label>
        {{ form_widget(registrationForm.plainPassword, {attr: {class: 'form-control'}}) }}
        {{ form_errors(registrationForm.plainPassword) }}

        <div class="checkbox mb-3">
            {{ form_widget(registrationForm.agreeTerms) }}
            {{ form_label(registrationForm.agreeTerms) }}
            {{ form_errors(registrationForm.agreeTerms) }}
        </div>

        <button type="submit" class="btn btn-lg btn-primary" >Register</button>
        {{ form_end(registrationForm) }}

    </div>

{% endblock %}
