{% extends 'base.html.twig' %}

{% block title %}Edit Figure{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('figure_edit') }}
{% endblock %}

{% block body %}

    <section id="sheet">

        {{ form_start(form) }}

        <div id="mainPicture" class="picture">

            <h1>Modifie ce trick ! </h1>

            <h2 id="mainText">{{ form_row(form.name) }}</h2>

            <div class="controls_wrapper">
                <div class="controls">
                    <a href="#" class="control update"><i class="fas fa-pencil-alt"></i></a>
                    <a href="#" class="control delete"><i class="fas fa-trash-alt"></i></a>
                </div>
                <div  class="edit">
                    {{ form_row(form.mainImage.name) }}
                    {{ form_row(form.mainImage.filename) }}
                </div>

            </div>

            {% if(figure.mainImage) %}
                <img src="{{ asset(figure.mainImage.filePath)|imagine_filter('trick_thumbnail') }}" alt="{{ figure.mainImage.name }}">
            {% endif %}

        </div>

        <a id="seeAllMedia" class="btn">See All Media</a>

        <div id="medias">

            <div class="list pictures" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">

                {% for image in form.images %}

                    {% set index = loop.index0 %}

                    <div id="image_{{ index }}" class="media picture">

                        <div class="inner">

                            <img class="trick_thumbnail" src="{{ asset(figure.images[index].filePath)|imagine_filter('trick_thumbnail') }}"/>

                            <div  class="edit">
                                {{ form_row(image.name) }}
                                {{ form_row(image.filename) }}
                            </div>

                            <div class="controls">
                                <a href="#" class="control update"><i class="fas fa-pencil-alt"></i></a>
                                <a href="#" class="control delete"><i class="fas fa-trash-alt"></i></a>
                            </div>

                        </div>

                    </div>

                {% endfor %}

            </div>

            <button type="button" class="add_item_link btn" id="add_image" data-collection-holder-class="images">Ajouter une image</button>

            <div class="list videos"  data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">

                {% for video in form.videos %}

                    <div class="media video">

                        <div class="inner video-container">

                            <iframe width="320" height="180" src="{{video.vars.data.tag|raw }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                            <div class="edit">{{ form_row(video.tag) }}</div>

                            <div class="controls">
                                <a href="#" class="control update"><i class="fas fa-pencil-alt"></i></a>
                                <a href="#" class="control delete"><i class="fas fa-trash-alt"></i></a>
                            </div>

                        </div>

                    </div>

                {% endfor %}

            </div>

            <button type="button" class="add_item_link btn" id="add_video" data-collection-holder-class="videos">Ajouter une video</button>

        </div>

        <article id="description">
            {{ form_row(form.text) }}
        </article>

        <aside id="aside">

            <div id="infos">
                {{ form_row(form.group) }}

            </div>

        </aside>

        <button class="btn">{{ button_label|default('Save') }}</button>

        {{ form_end(form) }}

        <button class="btn"><a href="{{ path('figure_index') }}">Retour à la liste</a></button>

        {{ include('figure/_delete_form.html.twig') }}

    </section>

{% endblock %}
