{% extends 'base.html.twig' %}

{% block title %}Edit Figure{% endblock %}

{% block body %}

    <section id="sheet">

        {{ form_start(form) }}

        <div id="mainPicture">

            <h1>{{ form_row(form.name) }}</h1>

            <img src="https://picsum.photos/1200/800" alt="">
            <div class="controls">
                <a href="#" class="control"><i class="fas fa-pencil-alt"></i></a>
                <a href="#" class="control"><i class="fas fa-trash-alt"></i></a>
            </div>

        </div>

        <a id="seeAllMedia" class="btn">See All Media</a>

        <div id="medias">

            <div class="list pictures">

                <div id="" class="media picture">

                    <div class="inner">

                        <img src="https://picsum.photos/300/168" alt="">
                        <div class="controls">
                            <a href="#" class="control"><i class="fas fa-pencil-alt"></i></a>
                            <a href="#" class="control"><i class="fas fa-trash-alt"></i></a>
                        </div>

                    </div>

                </div>
                <div id="" class="media picture">

                    <div class="inner">

                        <img src="https://picsum.photos/300/168" alt="">
                        <div class="controls">
                            <a href="#" class="control"><i class="fas fa-pencil-alt"></i></a>
                            <a href="#" class="control"><i class="fas fa-trash-alt"></i></a>
                        </div>

                    </div>

                </div>

                <div id="" class="media picture">

                    <div class="inner">

                        <img src="https://picsum.photos/300/168" alt="">
                        <div class="controls">
                            <a href="#" class="control"><i class="fas fa-pencil-alt"></i></a>
                            <a href="#" class="control"><i class="fas fa-trash-alt"></i></a>
                        </div>

                    </div>

                </div>

                <div id="" class="media picture">

                    <div class="inner">

                        <img src="https://picsum.photos/300/168" alt="">
                        <div class="controls">
                            <a href="#" class="control"><i class="fas fa-pencil-alt"></i></a>
                            <a href="#" class="control"><i class="fas fa-trash-alt"></i></a>
                        </div>

                    </div>

                </div>

                <div id="" class="media picture">

                    <div class="inner">

                        <img src="https://picsum.photos/300/168" alt="">
                        <div class="controls">
                            <a href="#" class="control"><i class="fas fa-pencil-alt"></i></a>
                            <a href="#" class="control"><i class="fas fa-trash-alt"></i></a>
                        </div>

                    </div>

                </div>

            </div>

            <div class="list videos"  data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">

                {% for video in form.videos %}

                    <div class="media video">

                        <div class="inner video-container">

                            <iframe width="320" height="180" src="{{video.vars.data.tag|raw }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        </div>

                        <div class="edit">{{ form_row(video.tag) }}</div>

                        <div class="controls">
                            <a href="#" class="control update"><i class="fas fa-pencil-alt"></i></a>
                            <a href="#" class="control delete"><i class="fas fa-trash-alt"></i></a>
                        </div>

                    </div>

                {% endfor %}

            </div>

            <button type="button" class="add_item_link" id="add_video" data-collection-holder-class="videos">Ajouter une video</button>

        </div>

        <article id="description">
            {{ form_row(form.text) }}
        </article>

        <aside id="aside">

            <div id="infos">
                {% if errors is defined %}
                    {{ dump(errors) }}
                {% endif %}
                {{ form_row(form.group) }}

            </div>

        </aside>

        <button class="btn">{{ button_label|default('Save') }}</button>

        {{ form_end(form) }}

        <a href="{{ path('figure_index') }}">back to list</a>

        {{ include('figure/_delete_form.html.twig') }}

    </section>

{% endblock %}
