{% extends 'base.html.twig' %}

{% block title %}Figure index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}

<section id="container">

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <div id="teaser" style="background-image:url('https://picsum.photos/1400/800')">

        <div class="hero">
            <h1 id="mainText">Phrase d'accroche</h1>
        </div>

        <a id="scrollDown"><i class="fas fa-arrow-down"></i></a>

    </div>

    <div id="tricks">

        <div class="tricklist">

            {% for figure in figures %}

                <div id="{{ figure.id }}" class="trick card">

                    <div class="innerCard">

                        {% for image in figure.images | filter(i => i.isMain) %}

                            <img src="{{ asset(image.filePath)|imagine_filter('trick_thumbnail') }}" alt="{{ image.name }}">

                        {% endfor %}

                        <div class="links">
                            <a href="{{ path('figure_show', {'slug': figure.slug}) }}">{{ figure.name }}</a>
                            <a href="{{ path('figure_edit', {'id': figure.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                        </div>

                    </div>

                </div>
            {% else %}

                    Aucune figure pour le moment ...

            {% endfor %}

            <div id="" class="trick card add_new">

                <div class="innerCard">

                    <div class="fake">

                        <button class="btn"><a href="{{ path('figure_new') }}">Ajoute un nouveau trick !</a></button>

                    </div>



                </div>

            </div>

        </div>

        <a href="#" class="loadMore btn">LoadMore</a>

        <a id="scrollUp"><i class="fas fa-arrow-up"></i></a>

    </div>

    <h1>Figure index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Text</th>
                <th>Slug</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for figure in figures %}
            <tr>
                <td>{{ figure.id }}</td>
                <td>{{ figure.name }}</td>
                <td>{{ figure.text }}</td>
                <td>{{ figure.slug }}</td>
                <td>{{ figure.createdAt ? figure.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ figure.updatedAt ? figure.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('figure_show', {'slug': figure.slug}) }}">show</a>
                    <a href="{{ path('figure_edit', {'id': figure.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('figure_new') }}">Create new</a>

</section>
{% endblock %}
