{% extends 'base.html.twig' %}

{% block title %}Figure index{% endblock %}

{% block body %}

    <div id="teaser" style="background-image:url('https://picsum.photos/1400/800')">

        <div class="hero">
            <h1>Phrase d'accroche</h1>
        </div>

        <a id="scrollDown"><i class="fas fa-arrow-down"></i></a>

    </div>

    <div id="tricks">

        <div class="tricklist">

            <div id="" class="trick card">

                <div class="innerCard">

                    <img src="https://picsum.photos/270/200" alt="">

                    <h3><a href="trick.php">Tail grab</a></h3>

                </div>

            </div>
            <div id="" class="trick card">

                <div class="innerCard">

                    <img src="https://picsum.photos/270/200" alt="">

                    <h3><a href="trick.php">Tail grab</a></h3>

                </div>

            </div>
            <div id="" class="trick card">

                <div class="innerCard">

                    <img src="https://picsum.photos/270/200" alt="">

                    <h3><a href="trick.php">Tail grab</a></h3>

                </div>

            </div>
            <div id="" class="trick card">

                <div class="innerCard">

                    <img src="https://picsum.photos/270/200" alt="">

                    <h3><a href="trick.php">Tail grab</a></h3>

                </div>

            </div>
            <div id="" class="trick card">

                <div class="innerCard">

                    <img src="https://picsum.photos/300/200" alt="">

                    <h3><a href="trick.php">Tail grab</a></h3>

                </div>

            </div>
            <div id="" class="trick card">

                <div class="innerCard">

                    <img src="https://picsum.photos/300/200" alt="">

                    <h3><a href="trick.php">Tail grab</a></h3>

                </div>

            </div>

        </div>

        <a href="#" class="loadMore btn">LoadMore</a>


        <a id="scrollUp"><i class="fas fa-arrow-up"></i></a>

    </div>






    <h1>Figure index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Text</th>
                <th>Slug</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for figure in figures %}
            <tr>
                <td>{{ figure.id }}</td>
                <td>{{ figure.name }}</td>
                <td>{{ figure.text }}</td>
                <td>{{ figure.slug }}</td>
                <td>{{ figure.createdAt ? figure.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ figure.updatedAt ? figure.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('figure_show', {'id': figure.id}) }}">show</a>
                    <a href="{{ path('figure_edit', {'id': figure.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('figure_new') }}">Create new</a>
{% endblock %}
