{% extends 'base.html.twig' %}

{% block title %}New Figure{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('figure_new') }}
{% endblock %}

{% block body %}

    <section id="sheet">

        {{ form_start(form) }}

        {% set dataPrototype %}
            {{ form_widget(form.images.vars.prototype)|e('html_attr') }}
        {% endset %}

        <div id="mainPicture">

            <h2 id="mainText">{{ form_row(form.name) }}</h2>

            <div class="controls_wrapper">
                <div class="controls">
                    <a href="#" class="control" id="add_main_image" data-prototype="{{ dataPrototype }}"><i class="fas fa-plus"></i></a>
                </div>
                <div  class="edit"></div>
            </div>

        </div>

        <a id="seeAllMedia" class="btn btn-primary">See All Media</a>

        <div id="medias">

            {{ form_label(form.images, 'Ajouter des images', { 'label_attr': {'class': 'cartouche'} }) }}
            {{ form_errors(form.images) }}

            <div class="list pictures" data-prototype="{{ dataPrototype }}"></div>

            {{ form_widget(form.images) }}

            <button type="button" class="add_item_link btn btn-primary" id="add_image" data-collection-holder-class="images">Ajouter une image</button>

            {{ form_label(form.videos, 'Ajouter des vidéos', { 'label_attr': {'class': 'cartouche'} }) }}
            {{ form_errors(form.videos) }}

            <div class="list videos"  data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}"></div>

            {{ form_widget(form.videos) }}

            <button type="button" class="add_item_link btn btn-primary" id="add_video" data-collection-holder-class="videos">Ajouter une video</button>

        </div>

        <article id="">
            <p>{{ form_label(form.text, 'Ajouter une description', { 'label_attr': {'class': 'cartouche'} }) }}</p>
            <p>{{ form_errors(form.text) }}</p>
            <p>{{ form_widget(form.text) }}</p>
        </article>

        <aside id="">
            {{ form_label(form.group, 'Sélectionner une catégorie', { 'label_attr': {'class': 'cartouche'} }) }}
            {{ form_errors(form.group) }}
            {{ form_widget(form.group) }}

        </aside>

        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>

        {{ form_end(form) }}

        <button class="btn btn-outline-primary"><a href="{{ path('figure_index') }}">Retour à la liste</a></button>

    </section>

{% endblock %}
