{% extends 'base.html.twig' %}

{% block title %}Figure{% endblock %}

{% block body %}

    <section id="sheet">

        <div id="mainPicture">

            <h1>{{ figure.name }}</h1>

            {% if(figure.mainImage) %}
                <img src="{{ asset(figure.mainImage.filePath)|imagine_filter('trick_thumbnail') }}" alt="{{ figure.mainImage.name }}">
            {% endif %}

        </div>

        <a id="seeAllMedia" class="btn">See All Media</a>

        <div id="medias">

            <div class="list">

                {% for image in figure.images %}

                    <div id="image_{{ loop.index0 }}" class="media picture">
                        <div class="inner">
                            <img class="trick_thumbnail" src="{{ asset(image.filePath)|imagine_filter('trick_thumbnail') }}" alt="{{ image.name }}"/>
                        </div>
                    </div>

                {% endfor %}

                {% for video in figure.videos %}

                    <div class="media video">

                        <div class="inner video-container">

                            <iframe width="320" height="180" src="{{ video.tag|raw }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>

                    </div>

                {% endfor %}

            </div>

        </div>

        <article id="description">
            {{ figure.text }}
        </article>

        <aside id="aside">

            <div id="infos">
                <div class="info">{{ figure.group.name }}</div>
                <div class="info date"><span>Créé le : </span>{{ figure.createdAt|format_datetime(pattern="d MMM yyyy") }}</div>
                <div class="info date"><span>Mis à jour le : </span>{{ figure.updatedAt|format_datetime(pattern="d MMM yyyy") }}</div>
                <div class="action edit"><button><a class="btn" href="{{ path('figure_edit', {'id': figure.id}) }}">edit</a></button></div>
                <div class="action delete">{{ include('figure/_delete_form.html.twig') }}</div>
            </div>

            <div class="comments">

                <form action="" class="comment">

                    <textarea cols="200"></textarea>
                    <button type="submit">Laisser un commentaire</button>

                </form>

                <div class="list">

                    <div class="comment">

                        <div class="user">
                            <img src="https://picsum.photos/100" alt="">
                            <div class="name">Elton John</div>
                        </div>

                        <div class="text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis labore eum aliquam quis beatae similique vitae aperiam exercitationem voluptatum, adipisci placeat, corrupti necessitatibus illum, ratione aliquid mollitia suscipit consequatur reiciendis.
                        </div>

                    </div>
                    <div class="comment">

                        <div class="user">
                            <img src="https://picsum.photos/100" alt="">
                            <div class="name">Elton John</div>
                        </div>

                        <div class="text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis labore eum aliquam quis beatae similique vitae aperiam exercitationem voluptatum, adipisci placeat, corrupti necessitatibus illum, ratione aliquid mollitia suscipit consequatur reiciendis.
                        </div>

                    </div>
                    <div class="comment">

                        <div class="user">
                            <img src="https://picsum.photos/100" alt="">
                            <div class="name">Elton John</div>
                        </div>

                        <div class="text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis labore eum aliquam quis beatae similique vitae aperiam exercitationem voluptatum, adipisci placeat, corrupti necessitatibus illum, ratione aliquid mollitia suscipit consequatur reiciendis.
                        </div>

                    </div>
                    <div class="comment">

                        <div class="user">
                            <img src="https://picsum.photos/100" alt="">
                            <div class="name">Elton John</div>
                        </div>

                        <div class="text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis labore eum aliquam quis beatae similique vitae aperiam exercitationem voluptatum, adipisci placeat, corrupti necessitatibus illum, ratione aliquid mollitia suscipit consequatur reiciendis.
                        </div>

                    </div>

                </div>

                <a href="#" class="loadMore btn">LoadMore</a>

            </div>

        </aside>

    </section>

    <h1>Figure</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ figure.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ figure.name }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ figure.text }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ figure.slug }}</td>
            </tr>
            <tr>
                <th>Group</th>
                <td>{{ figure.group.name }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ figure.createdAt ? figure.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ figure.updatedAt ? figure.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

   <button class="btn"> <a href="{{ path('figure_index') }}">Retour à la liste</a></button>


{% endblock %}
